body {
    text-align: end;
}
.divbtn1 {
    display: flex;
}
#bt3 {
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-radius: 30px;
    font-weight: bold;
    padding-top: 5px;
    background-color: aqua;
    text-align: center;
}